// THEMES COLOR AND FONT

$color-primary: #61c2af;
$color-secondary: #54595f;
$color-text: #7a7a7a;
$color-accent: #61ce70;
$color-head: #f48068;
$white: #ffffff;

/* Colors: */
$unnamed-color-f0efef: #f0efef;
$unnamed-color-cab1ca: #cab1ca;
$unnamed-color-e5d0e5: #e5d0e5;
$unnamed-color-010000: #010000;
$unnamed-color-fbf7fe: #fbf7fe;
$unnamed-color-effff7: #effff7;
$unnamed-color-fbfff7: #fbfff7;
$unnamed-color-fef4f5: #fef4f5;
$unnamed-color-fffbf6: #fffbf6;
$unnamed-color-fef7d9: #fef7d9;
$unnamed-color-ecfefa: #ecfefa;
$unnamed-color-ffffff: #ffffff;
$unnamed-color-707070: #707070;

/* Font/text values */
$unnamed-font-family-roboto: Roboto;
$unnamed-font-style-normal: normal;
$unnamed-font-weight-normal: normal;
$unnamed-font-size-16: 16px;
$unnamed-font-size-20: 20px;
$unnamed-font-size-50: 50px;
$unnamed-character-spacing-0: 0px;
$unnamed-line-spacing-19: 19px;
$unnamed-line-spacing-24: 24px;
$unnamed-line-spacing-58: 58px;
