.page-template-default {
    .container {
        p {
            margin-bottom: 12px;
        }
        h2 {
        }
        h1 {
            margin-bottom: 30px;
        }
    }
}
.woocommerce-product-details__short-description {
    ul > li::marker {
        content: ">"; /* Postavljanje željenog znaka kao marker */
        color: black; /* Boja markera */
        font-size: 26px; /* Veličina fonta markera */
        /* Ostale stilizacije markera */
    }
}
